<a href="https://colab.research.google.com/github/yassinetabarki/web_scraping_hotel_prices/blob/main/hotel_web_scarping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests as re
from bs4 import BeautifulSoup as bs

In [ ]:
url="http://www.promohotel.tn/"
r=re.get(url)
soup=bs(r.content)

In [ ]:
states=soup.find("div",attrs={"class":"wrapsubnav"})
# get the state url 
states_url=[hot["href"] for hot in states.select("ul > li > a")]
# get the state name 
states=[hot.get_text() for hot in states.select("ul > li > a")]
states

/hotels/city/1/Djerba

['Djerba',
 'Gammarth',
 'Hammamet',
 'kelibia',
 'Mahdia',
 'Monastir',
 'Nabeul',
 'Sfax',
 'Sousse',
 'Tabarka',
 'Tataouine',
 'Tozeur et Nefta',
 'Tunis',
 'Zarzis']

In [ ]:
#
hoteln=[]
hotelp=[]
for i in range(len(states)):
  p=re.get(url+states_url[i])
  pageweb=bs(p.content)
  hotel_info=pageweb.find_all("div",attrs={"class":"info-hotel"})

# search for a hotel name
  for v in hotel_info:
    hotel_name=v.find("div",attrs={"class":"info-center"})

    hotel_name=hotel_name.find("a").get_text()
    hoteln.append(hotel_name)

    hotel_price=v.find("div",attrs={"class":"price"})
    hotel_price= hotel_price.get_text()
    
    hotel_price=(hotel_price[3:]).replace(" ","")
    hotel_price=hotel_price.replace(",","")
    hotelp.append(hotel_price)

hoteln+hotelp

['HOTEL IBEROSTAR  MEHARI DJERBA',
 'HOTEL WELCOME MERIDIANA DJERBA',
 'HOTEL KSAR DJERBA',
 'SEABEL RYM BEACH DJERBA',
 'HOTEL CARIBBEAN WORLD DJERBA ',
 'HOTEL CALIMERA YATI BEACH',
 'HOTEL ACQUA VIVA GAMMARTH',
 'HOTEL PHEBUS GAMMARTH',
 'HOTEL RAMADA PLAZA GAMMARTH',
 'HOTEL REGENCY GAMMARTH',
 'CARTHAGE THALASSO RESORT',
 'HOTEL THE RESIDENCE TUNIS',
 'HOTEL MENARA HAMMAMET ',
 'HOTEL GREEN GOLF',
 'HOTEL AZIZA BEACH Golf & SPA (Adults Only)',
 'HOTEL REGENCY BEACH HAMMAMET',
 'HOTEL HOUDA YASMINE HAMMAMET',
 'HOTEL IBEROSTAR AVERROES',
 'HOTEL KELIBIA BEACH & SPA',
 'HOTEL LTI  MAHDIA BEACH & AQUAPARK',
 'HOTEL CLUB THAPSUS',
 'HOTEL MAHDIA PALACE & THALASSO',
 'HOTEL PRIMASOL EL MEHDI',
 ' EL MOURADI MAHDIA',
 'One Resort EL MANSOUR MAHDIA',
 'NEROLIA HOTEL & SPA MONASTIR',
 'MAGIC HOTEL SKANES ',
 'ROYAL THALASSA MONASTIR (ADULTS ONLY)',
 'HOTEL ONE RESORT AQUAPARK & SPA',
 'MY HOTEL GARDEN BEACH',
 'HOTEL RAMADA LIBERTY RESORT',
 'HOTEL KHAYAM GARDEN BEACH & SPA',
 'HOTEL KHEOPS NABEUL',
 'HOTEL BYZANCE NABEUL',
 'HOTEL ROYAL LIDO RESORT & SPA',
 'HOTEL PALAIS ROYAL SFAX ',
 'BUSINESS HOTEL SFAX',
 'HOTEL LES OLIVIERS PALACE SFAX',
 'HOTEL SANGHO SYPHAX',
 'HOTEL IBIS SFAX',
 'HOTEL BORJ DHIAFA SFAX',
 'HOTEL MIRAMAR GOLF KANTAOUI ',
 'HOTEL EL KSAR RESORT & THALASSO',
 'HOTEL MARHABA ROYAL SALEM',
 'HOTEL HANNIBAL PALACE',
 'HOTEL RIADH PALMS SOUSSE',
 'HOTEL MARHABA BEACH SOUSSE',
 'HOTEL LES MIMOSAS',
 'HOTEL ITROPIKA TABARKA',
 'HOTEL DAR ISMAIL TABARKA',
 'HOTEL THABRACA THALASSO & DIVING',
 'HOTEL LA CIGALE TABARKA',
 'HOTEL EL MOURADI HAMMAM BOURGUIBA',
 'HOTEL DAKYANUS TATAOUINE',
 'HOTEL SANGHO PRIVILEGE TATAOUINE',
 'HOTEL RAS El AIN TOZEUR',
 'HOTEL LA PALMERAIE TOZEUR',
 'HOTEL  KSAR ROUGE TOZEUR',
 'HOTEL KSAR EL JERID TOZEUR',
 'HOTEL PALM BEACH PALACE TOZEUR',
 'DAR HI-LIFE NEFTA',
 'HOTEL ROYAL VICTORIA',
 'HOTEL GOLDEN TULIP EL MECHTEL',
 'BUSINESS HOTELS  TUNIS',
 'THE PENTHOUSE SUITES HOTEL',
 'HOTEL NOVOTEL TUNIS',
 'HOTEL MAJESTIC TUNIS',
 'HOTEL VINCCI SAFIRA PALMS ',
 'HOTEL EDEN STAR ',
 'HOTEL ZITA BEACH & RESORT',
 'HOTEL & CLUB LELLA MERIAM',
 'HOTEL ODYSSEE RESORT & THALASSO ',
 '59850',
 '66000',
 '66500',
 '68000',
 '75000',
 '78000',
 '72000',
 '82000',
 '150000',
 '162000',
 'Selondemande',
 'Selondemande',
 '25100',
 '37000',
 '37800',
 '46500',
 '59000',
 '59850',
 'Selondemande',
 '41000',
 '57000',
 '67000',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 '46000',
 '118500',
 '142000',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 '103500',
 '120000',
 '168000',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 '40000',
 '42500',
 '50150',
 '52000',
 '60030',
 '62000',
 '47000',
 '48000',
 '55500',
 '66150',
 '218650',
 'Selondemande',
 '85000',
 'Selondemande',
 '82500',
 '82500',
 '83000',
 '97200',
 '105300',
 '143000',
 '135000',
 '138000',
 '145000',
 '159000',
 '220000',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 'Selondemande',
 'Selondemande']

In [96]:
import pandas as pd
from random import randint
dfp=pd.DataFrame(data=hotelp,columns=['price'])
dfn=pd.DataFrame(data=hoteln,columns=['hotel name'])
df=pd.concat([dfn,dfp],axis=1)
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df

                          hotel name    price
0     HOTEL IBEROSTAR  MEHARI DJERBA  59850.0
1     HOTEL WELCOME MERIDIANA DJERBA  66000.0
2                  HOTEL KSAR DJERBA  66500.0
3            SEABEL RYM BEACH DJERBA  68000.0
4      HOTEL CARIBBEAN WORLD DJERBA   75000.0
..                               ...      ...
67        HOTEL VINCCI SAFIRA PALMS       NaN
68                  HOTEL EDEN STAR       NaN
69         HOTEL ZITA BEACH & RESORT      NaN
70         HOTEL & CLUB LELLA MERIAM      NaN
71  HOTEL ODYSSEE RESORT & THALASSO       NaN

[72 rows x 2 columns]